<app-cabecalho></app-cabecalho>
<main>
  <div class="containter d-flex justify-content-center">
    <div class="col-8">
      <div class="content">
        <div class="titulo justify-content-center">
          <mat-toolbar color="primary">
            <span>Listagem de moedas</span>
          </mat-toolbar>
        </div>
        <div class="sobre">
          <div class="img-app">
            <img src="../../../assets/img/arbitrage.png" alt="" />
          </div>
          <h1>CONVERSOR DE MOEDAS</h1>
          <div class="botoes">
            <a href="listagem-moedas">
              <button type="button" class="btn btn-primary btn-lg">
                Listar Símbolos
              </button></a
            >
            <a href="conversao-moedas"
              ><button type="button" class="btn btn-primary btn-lg">
                Realizar conversão
              </button></a
            >
          </div>

          <p>
            Esta é uma aplicação para conversão de valores monetários para
            diferentes tipos de moedas utilizando a API Exchangerate.
          </p>
          <a href="https://exchangerate.host/"
            ><p>https://exchangerate.host/</p></a
          >
        </div>
      </div>
    </div>
  </div>
</main>
<app-rodape></app-rodape>
