<app-cabecalho></app-cabecalho>
<div class="container">
    <mat-toolbar class="mb-3" color="primary">
        <span>Conversão de Moedas</span>
    </mat-toolbar>
    <form [formGroup]="conversorForm">
        <div class="row">
            <div class="col">
                <mat-form-field class="form-control" appearance="fill">
                    <mat-label>Moeda Origem</mat-label>
                    <mat-select formControlName="from" name="from">
                        <mat-option
                            *ngFor="let moedas of moedas"
                            [value]="moedas.code"
                            >{{ moedas.description }} ({{
                                moedas.code
                            }})</mat-option
                        >
                    </mat-select>
                    <mat-error *ngIf="this.conversorForm.get('from')?.errors"
                        >Selecione uma moeda de Origem</mat-error
                    >
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="form-control" appearance="fill">
                    <mat-label>Moeda Destino</mat-label>
                    <mat-select formControlName="to" name="to">
                        <mat-option
                            *ngFor="let moedas of moedas"
                            [value]="moedas.code"
                            >{{ moedas.description }} ({{
                                moedas.code
                            }})</mat-option
                        >
                    </mat-select>
                    <mat-error *ngIf="this.conversorForm.get('to')?.errors"
                        >Selecione uma moeda de Destino</mat-error
                    >
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="form-control">
                    <mat-label>Valor em </mat-label>
                    <input
                        formControlName="amount"
                        name="amount"
                        [formNoValidate]="false"
                        matInput
                        type="text"
                    />
                    <mat-label>
                        {{ this.conversorForm.get("from")?.value }}</mat-label
                    >
                    <button
                        *ngIf="this.conversorForm.get('amount')?.value != ''"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="this.conversorForm.get('amount')?.setValue('')"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error>Informe um valor valido</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row mt-3">
            <div class="button-conv">
                <button
                    (click)="converterMoedas()"
                    type="submit"
                    mat-raised-button
                >
                    Realizar Conversão
                </button>
            </div>
        </div>
        <div class="container mt-3">
            <mat-card>
                <mat-card-content>
                    <mat-card-header>
                        <mat-card-title> Conversão </mat-card-title>
                    </mat-card-header>
                    <div *ngIf="isResult">
                        <p>
                            {{ this.query[2] }} em {{ this.query[0] }} equivale
                            a
                        </p>
                        <h1>{{ this.amount }} em {{ this.query[1] }}</h1>
                        <p>Taxa de conversão utilizada: {{ this.rate }}</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </form>
</div>
<app-rodape></app-rodape>
