<app-cabecalho></app-cabecalho>
<div class="container">
    <div class="row">
        <div class="col">
            <mat-form-field class="form-control" appearance="fill">
                <mat-label>Moeda Origem</mat-label>
                <mat-select disableRipple>
                    <mat-option
                        *ngFor="let moedas of moedas"
                        [value]="moedas.code"
                        >{{ moedas.code }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="form-control" appearance="fill">
                <mat-label>Moeda Destino</mat-label>
                <mat-select disableRipple>
                    <mat-option
                        *ngFor="let moedas of moedas"
                        [value]="moedas.code"
                        >{{ moedas.code }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="form-control">
                <mat-label>Valor</mat-label>
                <input
                    [formNoValidate]="false"
                    matInput
                    type="text"
                    [(ngModel)]="value"
                />
                <button
                    *ngIf="value"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="value = ''"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="col">
            <button mat-raised-button>Realizar Conversão</button>
        </div>
    </div>
</div>
<app-rodape></app-rodape>
